In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data= r'M:\NY4P Metrics Research 18034\03_GIS+ANALYSIS\01_DATA\Processed\Initial Options - Scores\Nhood_scores.csv'

df= pd.read_csv(data)

In [6]:
df.columns

Index(['GISPROPNUM', 'TYPECATEGO', 'SIGNNAME', 'tp', 'tpa', 'tppop',
       'tppopdens', 'tp_palmm', 'tpa_palmm', 'tppop_palmm', 'tppopdens_palmm',
       'Neighborhood'],
      dtype='object')

In [7]:
df.groupby('Neighborhood').agg({'tp':'sum', 'tpa':'mean', 'tppop':'sum', 'tppopdens':'mean'})

                       tp        tpa     tppop  tppopdens
Neighborhood
Bay St. Corridor    644.0  26.369016  0.039024   3.443430
Bushwick           1989.0  22.000576  0.432665   1.909449
Long Island City   1535.0  28.136769  0.208426   1.676015
Lower East Side    9454.0  93.930468  0.203869   2.052887
Park Slope        13225.0  61.596660  0.323477   8.101612
Upper West Side   46988.0  76.892271  0.257145  26.426437

In [8]:
df.groupby('Neighborhood').agg({'tp_palmm':'mean', 'tpa_palmm':'mean', 'tppop_palmm':'mean', 'tppopdens_palmm':'mean'})

                   tp_palmm  tpa_palmm  tppop_palmm  tppopdens_palmm
Neighborhood
Bay St. Corridor  37.000000  45.250000    44.000000        52.125000
Bushwick          34.666667  49.083333    39.041667        39.500000
Long Island City  39.952381  48.000000    52.095238        50.285714
Lower East Side   48.705882  48.000000    46.176471        48.235294
Park Slope        47.440000  54.880000    51.640000        53.360000
Upper West Side   52.937500  53.437500    48.250000        50.875000